@model ICollection<SomeCollections.Models.Collection>

@{
    ViewData["Title"] = "Главная";
}

<h1>Все коллекции:</h1>

<div>
    <div class="container mt-5">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h4 class="card-title text-center">@item.Name</h4>
                            <h6 class="card-subtitle mb-2 text-muted text-center">Автор: @item.Owner.UserName</h6>
                            <p class="card-text">@item.Description</p>
                        </div>     
                    </div>
                </div>
            }
        </div>
    </div>
</div>
